.hero-section {
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
}
.custom-h1 { font-size: 3rem !important; }
.custom-p { font-size: 1.2rem !important; }
.custom-hero-button {
    background-color: #f9d400 !important;
    border: none !important;
    padding: 12px 30px !important;
    line-height: normal;
}